body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    background: white url(https://cdn.discordapp.com/attachments/529309925281628170/658540943271788585/Chakra_sigil_gif.gif) repeat top;
    background-color: rgb(161, 161, 87);
    margin: 20px;
    padding: 0;
}
/*Above, we see that the font is going to be Arial, with 14px font size. There will be a background color of whie, but the image
URL will display the image of a .gif file. This file will repeat at the top and thus, centering it in the middle of the screen.  */
p {
    line-height: 21px;
}

h1 {
    color: #36e413;
    background-color: #900;
    font-size: 2em;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border: 0.5em solid Yellow;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: silver;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
    background: black;
}

table  {
    Display:grid;
    grid-column:2/4;
    background-color: rgb(165, 21, 141);
    border: inset;
    border-color: mediumaquamarine;
    border-width: thick;
    text-align: center;
/*There is a reason this graph looked funky!That's because it was coded to display as a grid, taking 
into account the 2nd column and 4th column for the placement.*/
   
}

.purpleExample {
    color: purple;
    font-weight: bolder;
    background: #900;
}
li:before {
    content: "li:before { content:"" ";
    background: red;
    color: #fc0;
    /*This is an example of a pseudo element*/
}
#navigation {
    float:left;
  
}

#content {
    margin-left: 200px;
}